name: Checks
on:
  pull_request:

jobs:
  cppcheck:
    name: Cppcheck
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout sources
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          path: src/percona_pg_telemetry

      - name: Checkout cppcheck sources
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: "danmar/cppcheck"
          ref: "2.13.4"
          path: src/cppcheck

      - name: Build and install cppcheck
        working-directory: src/cppcheck
        run: |
          mkdir build
          cd build
          cmake ..
          cmake --build .
          sudo cmake --install .

      - name: Execute linter check with cppcheck
        working-directory: src/percona_pg_telemetry
        run: |
          set -x
          cppcheck --enable=all --inline-suppr --template='{file}:{line},{severity},{id},{message}' --error-exitcode=1 --suppress=missingInclude --suppress=unmatchedSuppression:percona_pg_telemetry.c --check-config .

  format:
    name: Format
    runs-on: ubuntu-22.04

    steps:
      - name: Clone postgres repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: 'postgres/postgres'
          ref: 'REL_17_STABLE'

      - name: Checkout sources
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          path: 'contrib/percona_pg_telemetry'

      - name: Configure postgres
        run: ./configure

      - name: Install perltidy
        run: sudo cpan -T SHANCOCK/Perl-Tidy-20230309.tar.gz

      - name: Install pg_bsd_indent
        working-directory: src/tools/pg_bsd_indent
        run: sudo make install

      - name: Add pg_bsd_indent and pgindent to path
        run: |
          echo "/usr/local/pgsql/bin" >> $GITHUB_PATH
          echo "${{ github.workspace }}/src/tools/pgindent" >> $GITHUB_PATH
      - name: Format sources
        working-directory: contrib/percona_pg_telemetry
        run: |
          make update-typedefs
          make indent
      - name: Check files are formatted and no source code changes
        working-directory: contrib/percona_pg_telemetry
        run: |
          git status
          git diff --exit-code

  license:
    name: License
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout sources
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Check license headers
        uses: apache/skywalking-eyes/header@61275cc80d0798a405cb070f7d3a8aaf7cf2c2c1 # v0.8.0
        with:
          token: "" # Prevent comments
